https://github.com/vdm-io/Joomla-Component-Builder/archive/master.zip
https://github.com/SermonDistributor/Joomla-3-Component/archive/master.zip
https://github.com/namibia/CBP-Joomla-3-Component/archive/master.zip
https://github.com/vdm-io/Joomla-Members-Manager/archive/master.zip
