https://github.com/joomla-extensions/patchtester/releases/download/4.1.0/com_patchtester_4.1.0.zip
https://github.com/joomla-extensions/jedchecker/releases/download/2.3.0/jedchecker_v2.3.0.zip
https://github.com/vdm-io/Joomla-Component-Builder/archive/master.zip
https://github.com/SermonDistributor/Joomla-3-Component/archive/master.zip
https://github.com/namibia/CBP-Joomla-3-Component/archive/master.zip
https://github.com/vdm-io/Joomla-Members-Manager/archive/master.zip
