version: '3.5'

services:
  web{SUBDOMAIN}: 
    environment:
      WEBSITESUNAME: {WEBSITESUNAME}
      WEBSITESUSERNAME: {WEBSITESUSERNAME}
      WEBSITESUSERPASS: {WEBSITESUSERPASS}
      WEBSITESEMAIL: {WEBSITESEMAIL}
      WEBSITESNAME: {WEBSITESNAME}
      DBDRIVER: {DBDRIVER}
      DBHOST: {DBHOST}
      DBUSER: {DBUSER}
      DBPASS: {DBPASS}
      DBNAME: {DBNAME}
      DBPREFIX: {DBPREFIX}
      SMTPHOST: {SMTPHOST}
    links:
      - mysql{SUBDOMAIN}:mysql
      - postgres{SUBDOMAIN}:postgres
      - mailcatcher{SUBDOMAIN}:mailcatcher
    volumes:
      - ./{SUBDOMAIN}:/var/www/html
    expose:
      - "80"
      - "443"
    labels:
      - "traefik.http.routers.web{SUBDOMAIN}.rule=Host(`{DOMAIN}`)"

  mysql{SUBDOMAIN}:
    image: mysql:5.6
    environment:
      MYSQL_ROOT_PASSWORD: {DBROOTPASS}
    expose:
      - "3306"
    volumes:
      - ./{SUBDOMAIN}mysql:/var/lib/mysql

  postgres{SUBDOMAIN}:
    image: postgres
    environment:
      POSTGRES_PASSWORD: {DBROOTPASS}
      POSTGRES_USER: root
    expose:
      - "5432"
    volumes:
      - ./{SUBDOMAIN}postgres:/var/lib/postgresql/data

  phpmyadmin{SUBDOMAIN}:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: mysql{SUBDOMAIN}
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: {DBROOTPASS}
    links:
      - mysql
    expose:
      - "80"
    labels:
      - "traefik.http.routers.phpmyadmin{SUBDOMAIN}.rule=Host(`{DOMAIN}`)"
      - "traefik.http.routers.phpmyadmin{SUBDOMAIN}.rule=path(`/phpmyadmin`)"

  pgadmin{SUBDOMAIN}:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: {PGEMAIL}
      PGADMIN_DEFAULT_PASSWORD: {PGPASS}
    links:
      - postgres
    expose:
      - "80"
    labels:
      - "traefik.http.routers.pgadmin{SUBDOMAIN}.rule=Host(`{DOMAIN}`)"
      - "traefik.http.routers.pgadmin{SUBDOMAIN}.rule=path(`/admin`)"

  mailcatcher{SUBDOMAIN}:
    image: schickling/mailcatcher
    expose:
      - "1080"
    labels:
      - "traefik.http.routers.pgadmin{SUBDOMAIN}.rule=Host(`{DOMAIN}`)"
      - "traefik.http.routers.pgadmin{SUBDOMAIN}.rule=path(`/email`)"

