## traefik.yml

# Docker configuration backend
providers:
  docker:
    defaultRule: "Host(`{{ trimPrefix `/` .Name }}.{DOMAIN}`)" # change this to main domain

# API and dashboard configuration
api:
  dashboard: {DASHBOARD}
  insecure: {INSECURE}

entryPoints:
  web:
    address: ":80"

  websecure:
    address: ":443"

certificatesResolvers:
  myresolver:
    acme:
      email: {EMAIL}
      storage: acme.json
      httpChallenge:
        # used during the challenge
        entryPoint: web

