version: '3.8'

services:
  web:
    # image created for this task
    image: vdmio/joomla:4.0.0-beta4
    container_name: joomla
    restart: unless-stopped
    environment:
      WEBSITEDOMAIN: {WEBSITEDOMAIN}
      WEBSITESNAME: {WEBSITESNAME}
      WEBSITESUNAME: {WEBSITESUNAME}
      WEBSITESUSERNAME: {WEBSITESUSERNAME}
      WEBSITESUSERPASS: {WEBSITESUSERPASS}
      WEBSITESPASSRESET: {WEBSITESPASSRESET}
      WEBSITESEMAIL: {WEBSITESEMAIL}
      WEBSITESADDPATCHTESTER: {WEBSITESADDPATCHTESTER}
      DBDRIVER: {DBDRIVER}
      DBHOST: {DBHOST}
      DBUSER: {DBUSER}
      DBPASS: {DBPASS}
      DBROOTPASS: {DBROOTPASS}
      DBNAME: {DBNAME}
      DBPREFIX: {DBPREFIX}
      SMTPHOST: {SMTPHOST}
      STARTUP_COMMAND_1: deploy_joomla
    links:
      - {DBHOST}
      - {SMTPHOST}
    depends_on:
      - {DBHOST}
    volumes:
       - {VOLWEBROOT}:/var/www/html
    ports:
      - {PORTWEB}:80
      - {PORTWEBSSL}:443

  {DBHOST}:
    image: mysql:5.7
    container_name: {DBHOST}
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: {DBROOTPASS}
    volumes:
       - {VOLDBHOST}:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: unless-stopped
    environment:
      PMA_HOST: {DBHOST}
      PMA_PORT: 3306
      # PMA_USER: root
      # PMA_PASSWORD: {DBROOTPASS}
    links:
      - {DBHOST}
    ports:
      - {PORTPAM}:80

  {SMTPHOST}:
    image: schickling/mailcatcher
    container_name: {SMTPHOST}
    restart: unless-stopped
    ports:
      - {PORTMC}:1080

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - {VOLWEBROOT}:/var/www/html
    links:
      - web
    depends_on:
      - web
    command: certonly --webroot --webroot-path=/var/www/html --email {SSLEMAIL} --agree-tos --no-eff-email --staging -d {WEBSITEDOMAIN}

volumes:
    {VOLWEBROOT}:
    {VOLDBHOST}:
    certbot-etc:
    certbot-var:
